*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin:1rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

nav{
    border: 2px solid #333;
    border-radius: 2rem ;
    max-width: 600px;
    font-size: 2rem;
    line-height: 8rem;
    margin: 0 auto 1rem;
}

h1{
    background: blueviolet;
    color: whitesmoke;
    border-radius: 2rem 2rem 0 0;
    padding: 2rem;
}

ol{
    list-style-type: none;
}

li{
    border-top: 2px solid black;
}

li{
    display: block;
    color: darkgreen;
}

li:visited{
    text-decoration: none;
    
}
li:hover,
li:focus{
    background-color: #333;
    color: whitesmoke;
}
li:last-child{
    border-radius: 0 0 2rem 2rem;
}