*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    margin: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
}

h1{
    color: #333;
    background-color: yellowgreen;
    padding: 0.2rem;
    border-radius: 2rem 2rem 0 0 ;
}

nav{
    border: 4px solid black;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 2rem;
    line-height: 7rem;
}

ul{
    list-style: none;
}

li {
    text-decoration: none;

    border-top: #333 solid 2px;
}
li a{
    display: block;
}


li a,
li a:visited{
    text-decoration: none;
    color: chocolate;
}

li a:hover,
li a:focus{
    background-color: #333;
    color: whitesmoke;
}

li:last-child a{
    border-radius: 0 0 1.7rem 1.7rem;
}